APP_URL="http://example"
APP_PORT=":<port_number>"

### Facebook Space
FACEBOOK_GRAPH_VERSION="v<xx.x>"
FACEBOOK_API="facebook_api"
FACEBOOK_PAGE_ID="id_facebook_page"
FACEBOOK_ACCESS_TOKEN="facebook_access_token"
FACEBOOK_WEBHOOK_TOKEN="สร้าง Token ขึ้นมาเอง เป็นข้อความอะไรก็ได้ ใช้เพื่อยืนยันว่า ส่งขอมูลได้ถูกต้อง รหว่าง api Facebook และ api ที่สร้างขึ้นมาใหม่"