APP_URL="http://example"
APP_API_VERSION="/api/v<version_number>" ## เช่น /api/v1
APP_ADDRESS="127.0.0.1"
APP_PORT=":<port_number>"

### Facebook Space
FACEBOOK_GRAPH_VERSION="v<xx.x>" ## เช่น v25.0
FACEBOOK_API="facebook_api"
FACEBOOK_PAGE_ID="id_facebook_page"
FACEBOOK_ACCESS_TOKEN="facebook_access_token"
FACEBOOK_WEBHOOK_TOKEN="สร้าง Token ขึ้นมาเอง เป็นข้อความอะไรก็ได้ ใช้เพื่อยืนยันว่า ส่งข้อมูลได้ถูกต้อง ระหว่าง api Facebook และ api ที่สร้างขึ้นมาใหม่"