APP_URL="http://example"
APP_PORT=":<port_number>"

### Facebook Space
FACEBOOK_GRAPH_VERSION="v<xx.x>"
FACEBOOK_API="facebook_api"
FACEBOOK_PAGE_ID="id_facebook_page"
FACEBOOK_ACCESS_TOKEN="facebook_access_token"